@page "{productId:int}"
@{
    Layout = "Shared/_Layout";
}

<header>
    <h1>Provide your information:</h1>

</header>
<form>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                <div class="col-md-6">
                    <label for="ddl_country">Offer:</label>
                    <select class="form-control" id="ddl_offer" name="offer">
                        <option value="0" selected>Select offer</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="address">Email:</label>
                <input type="text" class="form-control" id="email" name="email" placeholder="Enter e-mail address">
            </div>
            <div class="row form-group">
                <div class="col">
                    <label for="firstName">First name:</label>
                    <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name">
                </div>
                <div class="col">
                    <label for="lastName">Last name:</label>
                    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Enter last name">
                </div>
            </div>
            <div class="form-group">
                <label for="address">Address:</label>
                <input type="text" class="form-control" id="address" name="address" placeholder="Enter address">
            </div>
            <div class="row form-group">
                <div class="col">
                    <label for="zip">ZIP code:</label>
                    <input type="text" class="form-control" id="zipCode" name="zipCode" placeholder="Enter ZIP code">
                </div>
                <div class="col" id="phoneDiv">
                    <label for="telefon">Telephone:</label>
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Enter telephone number">
                </div>
            </div> <br />
            <button type="submit" class="btn btn-primary">Place order</button>
        </div>
        <div class="col-md-6">
            <img id="image" src="" />
        </div>
    </div>

</form>

@section Scripts
{
    <script>
        const initialOfferState = 0;
        var countryCode = null;

        const validate = () => {
            var formIsValid = true;

            const invalidateInput = (inputId) => {
                $(inputId).addClass('border').addClass('border-danger');
                formIsValid = false;
            }

            const validateInput = (inputId) => {
                $(inputId).removeClass('border').removeClass('border-danger');
            }

            const selectedOffer = $('#ddl_offer').find(":checked").val();
            if (parseInt(selectedOffer) === initialOfferState) {
                invalidateInput('#ddl_offer');
            }
            else {
                validateInput('#ddl_offer');
            }

            const emailVal = $('#email').val();
            if (emailVal.length < 6 || emailVal.indexOf('@@') < 0) {
                invalidateInput('#email');
            } else {
                validateInput('#email');
            }

            var zipcodeVal = $('#zipCode').val();
            var phoneVal = $('#phone').val();

            if (countryCode === 1 || countryCode === 3) { //Sweden or Finland
                if (zipcodeVal.length != 5 || !$.isNumeric(zipcodeVal)) {
                    invalidateInput('#zipCode');
                } else {
                    validateInput('#zipCode');
                }
                if (phoneVal.length < 7 || !$.isNumeric(phoneVal)) { // This needs a better validation
                    invalidateInput('#phone');
                } else {
                    validateInput('#phone');
                }
            }
            else if (countryCode === 2) { //Norway
                if (zipcodeVal.length != 4 || !$.isNumeric(zipcodeVal)) {
                    invalidateInput('#zipCode');
                } else {
                    validateInput('#zipCode');
                }
            }

            var firstNameVal = $('#firstName').val();
            if (firstNameVal.length < 1) { // I need more info for better validation
                invalidateInput('#firstName');
            }
            else {
                validateInput('#firstName');
            }

            var lastNameVal = $('#lastName').val();
            if (lastNameVal.length < 1) { // I need more info for better validation
                invalidateInput('#lastName');
            }
            else {
                validateInput('#lastName');
            }

            var addressVal = $('#address').val();
            if (addressVal.length < 3) { // I need more info for better validation
                invalidateInput('#address');
            }
            else {
                validateInput('#address');
            }

            $('[type="submit"]').prop('disabled', !formIsValid);
        }

        const submitOrder = (e) => {

            e.preventDefault();
            $.ajax({
                type: 'POST',
                contentType: 'application/json',
                url: window.location.origin + '/api/Checkout',
                data: JSON.stringify({
                    'OfferId': parseInt($('#ddl_offer').find(":checked").val()),
                    'FirstName': $('#firstName').val(),
                    'LastName': $('#lastName').val(),
                    'Address': $('#address').val(),
                    'Email': $('#email').val(),
                    'ZipCode': $('#zipCode').val(),
                    'Telephone': $('#phone').val(),
                    'Country': parseInt($('#country').val())
                }),
                success: function () {
                    alert('Thank you for your order!');
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert('Oh no, we encountered an error!');
                }
            });
        }

        $(() => {
            var productId = window.location.href.substr(window.location.href.lastIndexOf('/') + 1);

            $.get(window.location.origin + "/api/Product/" + productId, function (data, status) {
                countryCode = data.country;
                if (countryCode === 2) {
                    $('#phoneDiv').hide()
                }

                $('#image').attr('src', data.imageUrl);
                for (let i = 0; i < data.offers.length; i++) {
                    $('#ddl_offer').append(
                        ` <option value="` + data.offers[i].id + `">` + data.offers[i].name + `</option>`
                    );
                }
            });

            $('form input, form select').on('change', validate);
            validate();

            $('form').on('submit', submitOrder);
        })

    </script>
}  